<script src="../../../jquery/jquery.js"></script>

<div class="full-container">

  <div class="title-container">
    <h1>{{mainTitle | uppercase}}</h1>
    <p>{{slogan}}</p>
  </div>

  <div class="btn-container">
    <button class="button button1">{{mainBtn | uppercase}}</button>
  </div>

</div>

<div class="difficulty">
  <div><a href="" class="link1">{{difficulty1 | uppercase}}</a></div>
  <div><a href="" class="link2">{{difficulty2 | uppercase}}</a></div>
  <div><a href="" class="link3">{{difficulty3 | uppercase}}</a></div>
  <div><a href="" class="link4">{{difficulty4 | uppercase}}</a></div>
</div>

